<!DOCTYPE html>
<html>
<head>
    <title>CV Builder - Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
</head>
</head>
<body>
    <section id="main" style="font-family: 'Poppins', sans-serif; background: rgb(45,194,253);
    background: radial-gradient(circle, rgba(45,194,253,1) 0%, rgba(34,76,195,1) 100%);" class=" h-screen bg-blue-300">
        <div class="flex flex-col justify-center items-center h-full mx-12 sm:mx-32 md:mx-56">
            <h1 class="font-bold text-white text-xl sm:text-3xl">📝 Welcome to CV Builder <span class="text-blue-800 font-semibold text-xl italic">by Ady</span></h1>
            <p class="text-center my-8 text-white"> Create a professional & ATS-friendly resume in just minutes! With our easy-to-use tools, you can quickly craft a standout CV that gets noticed. Let's get started and take the next step in your career journey!</p>
            <div class="flex">
                <button class="mx-2 py-3 px-6 text-xl  hover:bg-blue-600 font-semibold bg-blue-800 text-white rounded-2xl">Create Now</button>
                <button class="mx-2 text-neutral-500 text-xl font-bold hover:underline">Sample ↗️</button>
            </div>
        </div>
    </section>
</body>
</html>
